.manage-listing-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1000px;
    margin-left: 100px;
    margin-top: 50px;
    justify-content: center;
}


.listing-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.edit-delete-buttons {
    display: flex;
    margin-top: 1px;
}

.edit-delete-buttons .small-buttons {
    background-color: #007BFF; /* Blue */
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.edit-delete-buttons .small-buttons:hover {
    background-color: #0056b3;
}

.edit-delete-buttons .small-buttons:active {
    background-color: #004085;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
