

.sfs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: #f9f9f9;

}

.input-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 800px;
}

.input-group input[type="text"],
.input-group select,
.input-group .checkbox-group label,
.input-group .reset-button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  font-size: 14px;
}

.input-group input[type="text"]::placeholder {
  color: #aaa;
}

.input-group input[type="text"],
.input-group select {
  flex: 1;
  min-width: 200px;
}

.input-group .checkbox-group {
  display: flex;
  align-items: center;
}

.input-group .checkbox-group input[type="checkbox"] {
  margin-right: 5px;
}

.input-group .select-sort select {
  flex: 1;
  min-width: 180px;
}

.input-group .reset-button {
  background-color: #ff5252;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.input-group .reset-button:hover {
  background-color: #ff0000;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1000px;
  margin-top: 10px;


}
