

.sfs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: #f9f9f9;

}

.input-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 800px;
}

.input-group input[type="text"],
.input-group select,
.input-group .checkbox-group label,
.input-group .reset-button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  font-size: 14px;
}

.input-group input[type="text"]::placeholder {
  color: #aaa;
}

.input-group input[type="text"],
.input-group select {
  flex: 1;
  min-width: 200px;
}

.input-group .checkbox-group {
  display: flex;
  align-items: center;
}

.input-group .checkbox-group input[type="checkbox"] {
  margin-right: 5px;
}

.input-group .select-sort select {
  flex: 1;
  min-width: 180px;
}

.input-group .reset-button {
  background-color: #ff5252;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.input-group .reset-button:hover {
  background-color: #ff0000;
}


.product-list {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  gap: 20px; /* Space between items */
  width: 100%;
  max-width: 1000px;
  margin: 10px auto; /* Center the container */
}


/* Media Queries */
@media (max-width: 768px) {
  .input-group {
    flex-direction: column;
  }

  .input-group input[type="text"],
  .input-group select,
  .input-group .select-sort select,
  .input-group .reset-button {
    width: 100%;
    min-width: unset;
  }

  .product-list {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .input-group input[type="text"],
  .input-group select,
  .input-group .select-sort select,
  .input-group .reset-button {
    font-size: 12px;
    padding: 8px;
  }

  .product-list {
    display: flex;
    justify-content: center;
  }
}
